<form class="form-horizontal" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

  <div id="login" autocomplete="off">
    <div class="col-md-6 m-3 divGroup glass">
      <div class="welcomeHeader">
        <div class="row">
          <div class="col-md-4">
            <img src="../assets/images/logo.png" style="width: 200px;">

          </div>
          <div class="col-md-8 pt-5">
            <h2>SIGNUP</h2>
            <h4>Signup here & enjoy the Quiz</h4>
          </div>
        </div>
      </div>
      <hr class="mt-0" style="border: 2px solid #fff">
      <div class="row">
        <div class="col-md-6">
          <div>
            <input placeholder="Email ID" [(ngModel)]="registrationModel.registrationMail"
              formControlName="registrationMail" autocomplete="off" class="inputCustomStyle mb-0"
              [ngClass]="{ 'is-invalid': submitted && f.registrationMail.errors }">
            <div *ngIf="submitted && f.registrationMail.errors" class="invalid-feedback">
              <div *ngIf="f.registrationMail.errors.required">Email is required</div>
              <div *ngIf="f.registrationMail.errors.email">Please, Enter valid pattern</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <input placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.registrationName.errors }"
            [(ngModel)]="registrationModel.registrationName" formControlName="registrationName" autocomplete="off"
            class="inputCustomStyle mb-0">
          <div *ngIf="submitted && f.registrationName.errors" class="invalid-feedback">
            <div *ngIf="f.registrationName.errors.required">Name is required</div>
            <div *ngIf="f.registrationName.errors.pattern">Please, Enter valid pattern</div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div>
            <input type="password" [(ngModel)]="registrationModel.registrationPassword" class="inputCustomStyle mb-0"
              formControlName="registrationPassword"
              [ngClass]="{ 'is-invalid': submitted && f.registrationPassword.errors }" placeholder="Password"
              [type]="fieldTextType ? 'text' : 'password'">
            <i class="fa password" [ngClass]="{ 'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}"
              (click)="toggleFieldTextType()"></i>
            <div *ngIf="submitted && f.registrationPassword.errors" class="invalid-feedback">
              <div *ngIf="f.registrationPassword.errors.required">Password is required</div>
              <div *ngIf="f.registrationPassword.errors.minlength">Please, Enter minimum 8 characters</div>
              <div *ngIf="f.registrationPassword.errors.maxlength">Please, Enter maximum 15 characters</div>

            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="divGroup">
        <button class="glassBtn" type="submit">SignUp</button>
      </div>
      <br><br>
      <span class="text-white account-link">Already have an account ? <span class="color-primary" routerLink=""> Sign In
          here</span></span>
    </div>
  </div>

</form>