<form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div id="login" autocomplete="off">

    <div class="divGroup glass">
      <div class="welcomeHeader">
        <img src="../assets/images/logo.png" style="width: 200px;margin-top:-40px">
      </div>
      <br>
      <div>
        <input placeholder="Username" [(ngModel)]="loginModel.registrationMail" formControlName="registrationMail"
          autocomplete="off" class="inputCustomStyle mb-0"
          [ngClass]="{ 'is-invalid': submitted && f.registrationMail.errors }">
        <div *ngIf="submitted && f.registrationMail.errors" class="invalid-feedback">
          <div *ngIf="f.registrationMail.errors.required">Username is required</div>
        </div>
      </div>
      <div class="mt-4">
        <input type="password" autocomplete="new-password" class="inputCustomStyle mb-0" placeholder="Password"
          [(ngModel)]="loginModel.registrationPassword" formControlName="registrationPassword"
          [ngClass]="{ 'is-invalid': submitted && f.registrationPassword.errors }"
          [type]="fieldTextType ? 'text' : 'password'">
        <i class="fa password" [ngClass]="{ 'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}"
          (click)="toggleFieldTextType()"></i>

        <div *ngIf="submitted && f.registrationPassword.errors" class="invalid-feedback">
          <div *ngIf="f.registrationPassword.errors.required">Password is required</div>
        </div>
      </div>
      <br>
      <div class="divGroup">
        <button class="glassBtn" type="submit">Login</button>
      </div>
      <span class="text-white account-link">Didn't have an account ? <span class="color-primary"
          routerLink="/registration"> Sign up here</span></span>
    </div>
  </div>

</form>